.layout {
  // background-color: orange;
  // border: 20px solid grey;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  // justify-content: space-between;
}
.content {
  grid-row: 2;
  height: fit-content;
}

h1 {
  // color: black;
}
p {
  // color: rgb(236, 236, 236);
  margin-bottom: 2em;
}
a {
  text-decoration: none;
}
